:root {
    --vernelho:#E50914;
    --preta:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base*/
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vernelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 1rem;
}

header nav a:hover {
    color: #fff;
}

/*vídeo principal*/

.filme-principal {
    font-size: 1.25rem;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-oqe-matematica.jpg');

    height: 25rem;
    background-size: cover;
}